<div class="jumbotron jumbotron-fluid bgj">
  <div class="container">
    <img class="card-img-right" src="https://www.amaysim.com.au/sites/default/files/styles/retina_1x/public/2017-08/Header_Image-nbn-com-2.png?itok=_pwM8VHJ" alt="Card image cap">
    <h1 class="display-3 jumbo win">win a Google Home, Chromecast Ultra and a year of nbn™</h1>
    <p class="lead win">Sign up to any nbn plan before 31 August to go into the draw. Plans start from $40 a month.</p>
    <a href="//www.amaysim.com.au/terms-policies/competitions-promos" target="_blank">T&Cs apply</a>
    <p>
      <button type="button" class="btn btn-warning buttons">sign up ></button>
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="media">
        <img class="d-flex mr-3" src="https://www.amaysim.com.au/sites/default/files/2017-04/lock_dash_mint.svg" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0">no lock-in contracts</h5>
            Freedom to switch your plan or cancel at anytime.
          </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="media">
        <img class="d-flex mr-3" src="https://www.amaysim.com.au/sites/default/files/2017-04/join_dash_mint.svg" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0">simple to join</h5>
            Quick and easy online sign-up, we’ll take care of all the fiddly bits.
          </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="media">
        <img class="d-flex mr-3" src="https://www.amaysim.com.au/sites/default/files/2017-04/app_dash_mint.svg" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0">easy to manage</h5>
            <a href="#">Download our app</a> or manage your plans online.
          </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-deck">
    <div class="card" id="fcard">
      <div class="card-body" >
        <h4 class="card-title">sim-only mobile plans</h4>
        <p class="card-text">Unlimited standard talk & text with heaps of data for use in Oz.</p>
      </div>
      <img class="card-img" src="https://www.amaysim.com.au/sites/default/files/styles/coloured_callout/public/cta/2017-05/mobile%20plans.png?itok=cW9n3w3K" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted"><a href="#">mobile plans</a></small>
      </div>
    </div>
    <div class="card" id="scard">
      <div class="card-body" >
        <h4 class="card-title">nbn broadband plans</h4>
        <p class="card-text">Unlimited data with superfast speeds. No lock-in contracts.</p>
      </div>
      <img class="card-img" src="https://www.amaysim.com.au/sites/default/files/styles/coloured_callout/public/cta/2017-05/nbn.png?itok=HQEt97oW" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted"><a href="#">nbn plans</a></small>
      </div>
    </div>
    <div class="card" id="tcard">
      <div class="card-body" >
        <h4 class="card-title">data-only plans</h4>
        <p class="card-text">Mobile broadband for your tablets and devices, for use in Oz.</p>
      </div>
      <img class="card-img" src="https://www.amaysim.com.au/sites/default/files/styles/coloured_callout/public/cta/2017-05/data%20only.png?itok=p6sU-ykV" alt="Card image cap">
      <div class="card-footer">
        <small class="text-muted"><a href="#">data-only plans</a></small>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bgj">
  <div class="container">
    <img class="ribbon" src="https://www.amaysim.com.au/sites/default/files/cta/2017-07/website_award_2016-2017.png" alt="ribbon">
    <h1 class="display-3 foot">93% of our customers have recommended amaysim to their mates</h1>
    <p class="lead foot1">NPS tracking survey of 2679 customers, May 2017</p>
    <p>
      <button type="button" class="btn btn-warning buttons btnf">canstar ></button>
    </p>
  </div>
</div>
