<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <a class="orange nav-link " href="#">Activate</a>
      <a class="nav-link orange" href="#">Login</a>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-orange">
  <div class="container">
  <a class="navbar-brand" href="#">amaysim</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          plans
        </a>
        <div class="dropdown-menu bgj" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item textc" href="./plans/mobile">mobile plans</a>
          <a class="dropdown-item textc" href="./plans/nbn">nbn plans</a>
          <a class="dropdown-item textc" href="./plans/data">data-only plans</a>
        </div>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            about
          </a>
          <div class="dropdown-menu bgj" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item textc" href="./about/who">who we are</a>
            <a class="dropdown-item textc" href="./about/why">why amaysim</a>
            <a class="dropdown-item textc" href="#">idk some other shit</a>
          </div>
      <li class="nav-item">
        <a class="nav-link" href="./help/mobile">help</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
